.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px auto;

  @media (max-width: $menu-break-point) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $medium-break-point) {
    grid-template-columns: 1fr;
  }

  &__card {
    text-align: center;
    font-size: 14px;
    margin: 40px;
    transition: $transition-duration;
  }

  &__card:hover {
    transform: scale(1.1);
  }

  &__title {
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px auto 10px;
  }

  &__description {
    line-height: 1.8;
  }
}
