.wrapper {
  padding: 0 20px;
}
.wrapper-header {
  background-image: url("../images/header/header-bg.jpg");
  background-size: cover;
}
.wrapper-footer {
  background-color: #3a3e64;
}
.wrapper-copyright {
  background-color: #313454;
}

.content {
  max-width: 1170px;
  margin: 0 auto;
}
.content-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
@media (max-width: 839px) {
  .content-footer {
    grid-template-columns: 1fr;
  }
}

.header {
  text-align: center;
}
.header__topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid #4f5168;
}
.header__topbar-hamburger {
  display: none;
}
@media (max-width: 839px) {
  .header__topbar-hamburger {
    display: inline-block;
  }
}
.header__title {
  font-family: "Open Sans", sans-serif;
  font-size: 65px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  max-width: 920px;
  margin: 140px auto 40px;
}
@media (max-width: 839px) {
  .header__title {
    font-size: 52px;
  }
}
.header__description {
  color: #f1f1f3;
  font-size: 22px;
  line-height: 1.5;
  max-width: 920px;
  margin: 0 auto;
}

@media (max-width: 839px) {
  .navigation {
    display: none;
  }
}
@media (max-width: 839px) {
  .navigation-mobile {
    display: block;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 319px) {
  .navigation-mobile {
    text-align: left;
  }
}
.navigation__list {
  padding: 0;
}
.navigation__item {
  display: inline-block;
  margin-left: 50px;
}
@media (max-width: 839px) {
  .navigation__item {
    display: block;
    margin-left: 0;
    margin-bottom: 5px;
  }
}
.navigation__item:first-child {
  margin-left: 0;
}
.navigation__link {
  color: #cbccd2;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  transition: 0.2s;
}
.navigation__link:hover {
  opacity: 0.8;
}

.button {
  background-color: #e84545;
  transition: 0.2s;
  border: none;
}
.button-header {
  margin: 70px auto 150px;
}
.button-download {
  margin: 40px auto 100px;
}
.button__link {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  padding: 20px 55px;
}
.button-download .button__link {
  padding: 20px 80px;
}

.button:hover {
  opacity: 0.8;
}

.hamburger__bar1, .hamburger__bar2, .hamburger__bar3 {
  width: 35px;
  height: 5px;
  background-color: #cbccd2;
  margin: 6px 0;
  transition: 0.4s;
}
.hamburger__change .hamburger__bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.hamburger__change .hamburger__bar2 {
  opacity: 0;
}
.hamburger__change .hamburger__bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px auto;
}
@media (max-width: 839px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 479px) {
  .features {
    grid-template-columns: 1fr;
  }
}
.features__card {
  text-align: center;
  font-size: 14px;
  margin: 40px;
  transition: 0.2s;
}
.features__card:hover {
  transform: scale(1.1);
}
.features__title {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 10px;
}
.features__description {
  line-height: 1.8;
}

.works {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
@media (max-width: 1079px) {
  .works {
    grid-template-columns: repeat(2, 50%);
  }
}
@media (max-width: 479px) {
  .works {
    grid-template-columns: 100%;
  }
}
.works__card {
  position: relative;
  overflow-x: hidden;
  display: flex;
  margin: 1px;
}
.works__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.2s;
  background-color: #e84545;
}
.works__card:hover .works__text {
  opacity: 0.8;
}
.works__img {
  right: 0;
  transform: translateX(-25%);
  z-index: -1;
}

.team {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
  margin: 50px auto;
}
@media (max-width: 1079px) {
  .team {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 839px) {
  .team {
    grid-template-columns: 1fr;
  }
}
.team__card {
  margin: 10px;
  max-width: 260px;
}
@media (max-width: 1079px) {
  .team__card {
    margin: 10px auto;
  }
}
@media (max-width: 839px) {
  .team__card {
    max-width: 300px;
  }
}
.team__img {
  width: 100%;
}
.team__title {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 5px;
}
.team__description {
  font-size: 13px;
  color: #e84545;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 20px;
}
.team__text {
  font-size: 14px;
  color: #4f5168;
  line-height: 1.8;
}
.team__link {
  text-decoration: none;
  transition: 0.2s;
  padding: 10px;
  margin: 2px;
  width: 12px;
  color: #cbccd2;
  border: 1px solid;
}
.team__link:hover {
  color: #808080;
}

.testimonials {
  display: grid;
  grid-template-columns: 50% 50%;
}
@media (max-width: 839px) {
  .testimonials {
    grid-template-columns: 1fr;
  }
}
.testimonials__img {
  display: block;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}
.testimonials__wrapper {
  background-color: #53354a;
}
.testimonials__text {
  color: #fff;
  max-width: 500px;
  margin: 110px 80px;
}
.testimonials__description {
  @import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap");
  font-family: "Cardo", serif;
  font-size: 36px;
  margin-bottom: 30px;
}
@media (max-width: 479px) {
  .testimonials__description {
    font-size: 28px;
  }
}
.testimonials__author {
  font-size: 13px;
  font-weight: 600;
}

.download {
  text-align: center;
}
.download__title {
  font-size: 28px;
  font-weight: 300;
  margin: 100px auto 16px;
}
.download__description {
  font-size: 13px;
  font-weight: 700;
  margin: 0 auto;
}

.footer {
  font-size: 14px;
}
@media (max-width: 839px) {
  .footer__card:nth-child(2) {
    padding: 0 20px;
  }
}
.footer__card {
  padding: 40px 20px;
}
.footer__title {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.footer__description {
  color: #cbccd2;
  line-height: 1.7;
}
.footer__link {
  text-decoration: none;
  transition: 0.2s;
  padding: 10px;
  margin: 5px;
  width: 20px;
  color: #fff;
  border: 2px solid;
}
.footer__description > .footer__link {
  font-size: 24px;
}
.footer__link:hover {
  color: #cbccd2;
}
.footer__copyright {
  text-align: center;
  color: #808080;
  margin: 0;
  padding: 30px 0;
  line-height: 1.8;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  min-width: 319px;
}

.dots {
  position: absolute;
  left: 60%;
  bottom: 50px;
}
@media (max-width: 479px) {
  .dots {
    left: 50%;
  }
}

/*# sourceMappingURL=main.css.map */
