$menu-color: #cbccd2;
$border-color: #4f5168;
$title-color: #fff;
$description-color: #f1f1f3;
$button-color: #e84545;
$testimonials-background: #53354a;
$footer-background: #3a3e64;
$copyright-background: #313454;
$copyright-color: #808080;
$max-width: 1170px;
$big-break-point: 1079px;
$menu-break-point: 839px;
$medium-break-point: 479px;
$min-width-screen: 319px;
$transition-duration: 0.2s;
$hover-opacity: 0.8;
