@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap");
.wrapper {
  padding: 0 20px; }
  .wrapper-header {
    background-image: url("../images/header/header-bg.jpg");
    background-size: cover; }
  .wrapper-footer {
    background-color: #3a3e64; }
  .wrapper-copyright {
    background-color: #313454; }

.content {
  max-width: 1170px;
  margin: 0 auto; }
  .content-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center; }
    @media (max-width: 839px) {
      .content-footer {
        grid-template-columns: 1fr; } }

.header {
  text-align: center; }
  .header__topbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
    border-bottom: 1px solid #4f5168; }
    .header__topbar-hamburger {
      display: none; }
      @media (max-width: 839px) {
        .header__topbar-hamburger {
          display: inline-block; } }
  .header__title {
    font-family: "Open Sans", sans-serif;
    font-size: 65px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    max-width: 920px;
    margin: 140px auto 40px; }
    @media (max-width: 839px) {
      .header__title {
        font-size: 52px; } }
  .header__description {
    color: #f1f1f3;
    font-size: 22px;
    line-height: 1.5;
    max-width: 920px;
    margin: 0 auto; }

@media (max-width: 839px) {
  .navigation {
    display: none; } }

@media (max-width: 839px) {
  .navigation-mobile {
    display: block;
    position: absolute;
    top: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }

@media (max-width: 319px) {
  .navigation-mobile {
    text-align: left; } }

.navigation__list {
  padding: 0; }

.navigation__item {
  display: inline-block;
  margin-left: 50px; }
  @media (max-width: 839px) {
    .navigation__item {
      display: block;
      margin-left: 0;
      margin-bottom: 5px; } }

.navigation__item:first-child {
  margin-left: 0; }

.navigation__link {
  color: #cbccd2;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.navigation__link:hover {
  opacity: 0.8; }

.button {
  background-color: #e84545;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .button-header {
    border: none;
    margin: 70px auto 150px; }
  .button__link {
    display: inline-block;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    padding: 20px 55px; }

.button:hover {
  opacity: 0.8; }

.hamburger__bar1, .hamburger__bar2, .hamburger__bar3 {
  width: 35px;
  height: 5px;
  background-color: #cbccd2;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.hamburger__change .hamburger__bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); }

.hamburger__change .hamburger__bar2 {
  opacity: 0; }

.hamburger__change .hamburger__bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }

.testimonials {
  display: grid;
  grid-template-columns: 50% 50%; }
  @media (max-width: 839px) {
    .testimonials {
      grid-template-columns: 1fr; } }
  .testimonials__img {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    min-width: 100%;
    min-height: 100%; }
  .testimonials__wrapper {
    background-color: #53354a; }
  .testimonials__text {
    color: #fff;
    max-width: 500px;
    margin: 110px 80px; }
  .testimonials__description {
    font-family: "Cardo", serif;
    font-size: 36px;
    margin-bottom: 30px; }
    @media (max-width: 479px) {
      .testimonials__description {
        font-size: 28px; } }
  .testimonials__author {
    font-size: 13px;
    font-weight: 600; }

.footer {
  font-size: 14px; }
  @media (max-width: 839px) {
    .footer__card:nth-child(2) {
      padding: 0 20px; } }
  .footer__card {
    padding: 40px 20px; }
  .footer__title {
    font-weight: 700;
    color: #fff;
    text-transform: uppercase; }
  .footer__description {
    color: #cbccd2;
    line-height: 1.7; }
  .footer__link {
    color: #fff;
    text-decoration: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border: 2px solid;
    padding: 10px;
    margin: 5px;
    width: 20px; }
  .footer__description > .footer__link {
    font-size: 24px; }
  .footer__link:hover {
    color: #cbccd2; }
  .footer__copyright {
    text-align: center;
    color: #808080;
    margin: 0;
    padding: 30px 0;
    line-height: 1.8; }

body {
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  min-width: 319px; }

.dots {
  position: absolute;
  left: 60%;
  bottom: 50px; }
  @media (max-width: 479px) {
    .dots {
      left: 50%; } }

/*# sourceMappingURL=main.css.map */
